html {
    background-image: url('../assets/image1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: grey;
}

#featured-article {
    font-size: 24px;
}

h1, h2 {
    font-size: 1.5em;
}

article {
    background-color: white;
}