#logo{
    width: 100px;
    transition: width 2s, height 2s, transform 2s;
}
#logo:hover{
    transform: rotate(180deg);
}
header{
    width: 100%;
}
footer{
    width: 100%;
}
#featured-article{
    width: 80%;
}