#logo{
    width: 100px;
    transition: width 2s, height 2s, transform 2s;
}
#logo:hover{
    transform: rotate(180deg);
}
header{
    width: 100vw;
}
footer{
    width: 100vw;
}
#featured-article{
    /* width: 80%; */
    width: 80vw;

}

section  {
    display: flex;
}

/* For the top section */
#featured {
    flex-wrap:wrap;
}

#Industry, #Career, #Technical{
    flex-direction: column;
    flex-wrap:nowrap; 
    /* ????? */
}

/* i dont think this does anything */
#Industry article {
    flex-wrap: wrap;
    background-color: olive;
}
